# fly.toml app configuration file generated for woom on 2023-12-28T13:41:13+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "woom"
primary_region = "nrt"

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024

[env]
  LIVE777_URL = "http://live777.binbat.com:7777"
